<% include ../template/header.ejs %>

<style>
    .loginPanel {
        width: 550px;
        padding: 5% 0 0;
        margin: auto;
    }
</style>

<div class="loginPanel">
        <center><img style="width: 400px; padding: 5%" src="<%=logo%>"></center>
        <div class="card">
        <div class="card-header"> <h5>Visualizer Credentials</h5> </div>
        <div class="card-body">
            <form action="<%=PostUrl%>" method="POST">
                 <% if(formError) { %>
                    <div class="alert alert-danger"> 
                        <strong>Hey!</strong> You insert wrong credentials, try again.
                    </div>
                 <% } %>
                <input type="text" class="form-control" value="<%=username%>" placeholder="Username" name="username">  <br>
                <input type="password" value="<%=password%>" class="form-control" placeholder="Password" name="password"> <br>
                <input type="hidden" name="authtype" value="xablau">
                <button class="btn btn-primary btn-block" type="submit">Sign in</button> <br>
                <code>Version: <%=version%></code>
            </form>
        </div>
    </div>
</div>

<% include ../template/footer.ejs %>